<div class="main">
  <%= link_to lists_path do %>
    <%= react_component("VocabularyButton", {}) %>
  <% end %>
  <%= link_to decks_path do %>
    <%= react_component("GameButton", {}) %>
  <% end %>
</div>