<div class="main">
  <%= react_component("App", {}) %>
  <div class="d-flex justify-content-center align-items-center mx my-3">
  <%= link_to "My garden", lists_path, class:'button button-primary'%>
</div>
</div>