

<div class="list-main">
  <% @decks.each do |deck|  %>
    <%= link_to  deck_cards_path(deck) do %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= deck.name %></h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
    </div>
    <% end %>  
  <% end %>
</div>
